


#slices {
    height: 480px;
    width: 100%;
    background-color: #01A9DB;
    background: rgba(0, 0, 0, 0.1);
    }
    #slices2 {
        height: 400px;
        width: 100%;
        background-color: rgb(237, 242, 243);
    background: rgba(0, 0, 0, 0.1);

        }
     
    #botones {
        
    height: 250px;
    background-color: #0431B4;
    background: rgba(0, 0, 0, 0.2);
    }
    
    #menu {
        height: 80px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.719);
    background: rgba(0, 0, 0, 0.1);

        }
    
        #separador {
            height: 4px;
            width: 100%;
            background-color: rgb(0, 0, 0);
            }

            #btnestilos{
                text-decoration:none;
                border:2px solid #424242;
                width: 200px;
                height: 35px;
                font-weight: bold;
                font-style:italic; 
                text-align: center;
                padding-top:15px;
                background-color: #8A4B08;
                color: rgb(31, 19, 19);
                font-family: Arial;
                transition: all 0.5s ease;
                border-radius: 51px 51px 51px 51px;
                -moz-border-radius: 51px 51px 51px 51px;
                -webkit-border-radius: 51px 51px 51px 51px;
                border: 0px solid #000000;
                }
                #btnestilos:hover{
                background-color:rgba(0, 0, 0, 0.411);
                    }
                
                    .flex-container {
                        display: flex;
                      }
                      
                      .flex-container > A {
                        background-color: #f1f1f1;
                        
                        margin: auto;
                        padding: 10px;
                        font-size: 17px;
                      }

                      #btninicio{
                        text-decoration:none;
                        padding: 20px 20px;
                        font-weight: bold;
                        font-style:italic; 
                        text-align: center;
                        background-color: #8A4B08;
                        color: rgb(31, 19, 19);
                        font-family: Arial;
                        transition: all 1s ease;
                        border-radius: 51px 51px 51px 51px;
                        -moz-border-radius: 51px 51px 51px 51px;
                        -webkit-border-radius: 51px 51px 51px 51px;
                        border: 0px solid #000000;
                        }
                        #btninicio:hover{
                        background: rgba(0,0,0,0);
                        color: #000000b2;
                            }
                      
